<!-- 
	** Author: Collin James, CS 290
	** Date: 5/10/16
	** Description: Activity: Get and Post checker, main page
-->
<!doctype html>
<html>
<head>
	<title>Testing Get/Post</title>
</head>
<body>
	{{{body}}}
</body>
</html>